body{
    background-color: rgba(24, 28, 38);
    font-style:normal;
    font-family: Helvetica;
    background-size: cover;
    background-repeat: no-repeat;
}
#idu{
    display: none;
}
#div-main{
    margin-top: 50px;
}
#div-title{
    margin: 5%;
    position:relative;
    color: rgb(42, 162, 209);
    height: 40px;
    border-radius: 15%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bottoni{
    background-color: rgb(42, 162, 209);
    margin: 5%;
    border-radius: 15px;
    width: 200px;
    height: 30px;
    font-size: 20px;
    font-weight: bolder;
    color: rgba(24, 28, 38);
}
#tutti_b{
    float: left;
}
#trova_b{
    float: left;
}
#del_num{
    text-align: center;
    width: 50px;
}
.half_page{
    margin-top: 50px;
    width: 45%;
    color: white;
    float: left;
    margin-left: 5%;
}
#tutti{
    opacity: 0.9;
}
#trova{
   opacity: 0.9;
}
table {
    margin-right: 5%;
    margin-top: 100px;
    color: white;
    background-color: rgba(24, 28, 38);
    float: left;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 45%;
}  
td, th {
    border-top: 1px solid rgb(84, 84, 84);
    border-bottom: 1px solid rgb(84, 84, 84) ;
    text-align: left;
    padding: 8px;
}
